{% extends 'base.html.twig' %}

{% block body %}
    <div class="w3-content" style="max-width:1400px">
        <div class="w3-container w3-center">
            <header>
                <img src="logo.png" alt="logo"/>
                <p class="" style="font-size: 30px">CSV Validator</p>
            </header>
            <a href="valid" class="w3-button w3-orange">Valide</a>
            <a href="invalid" class="w3-button w3-orange">Invalide ({{ lignesInvalides }})</a>
        </div>
        <p align="center"><b> Attention</b> le fichier invalide contient une colonne supplémentaire permettant de vous
            indiquer quelles colonnes possèdent des erreurs.</p>
    </div>
{% endblock %}
