{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block body %}
    <div class="w3-container">
        <h2>Dynamic Progress Bar with Labels</h2>
        <p>Centered label:</p>
        <div class="w3-light-grey">
            <div id="progressBar" class="w3-container w3-green w3-center" style="width:20%">20%</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = function () {
            var elem = document.getElementById("progressBar");
            var width = 0;
            setInterval(updateProgress, 500);

            function updateProgress() {
                $.ajax({
                    url: 'progress',
                    dataType: 'json',
                    success: function (result) {
                        width = result;
                        elem.style.width = width + '%';
                        elem.innerHTML = result + '%';
                    }
                });
                if (width === 100)
                    window.location.href = "results";
            }
        }
    </script>
{% endblock %}
